<div class="wrapper wrapper-content">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    {include file="public/node" /}
                </div>
                <div class="ibox-content">
                    <form method="post" class="form-horizontal hhn-ajaxform">
                        {include file="public/form" /}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>