<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>个人中心</title>
		<script type="text/javascript" src='q-js/fb.js'></script>
		<link rel="stylesheet" href="q-css/personalcenter.css" type="text/css">
</head>
<body>

	<div class='warp'>
		<div class="logo">
			<img src="q-img/logo.png" alt="" title="">
		</div>
		<div class="people">
			<div class="pic">
				<img src="q-img/pic.jpg" alt="" title="">
			</div>
			<a href="" class="auth"><img src="q-img/icon_01.jpg"></a>
			<a href="" class="edit"><img src="q-img/icon_02.jpg"></a>
			<p class="name">特朗普</p>
		</div>

		<div class="list">
			<ul>
				<li>
					<img src="q-img/icon_03.jpg"><span>我的会费</span><a href=""> > </a>
				</li>
				<li>
					<img src="q-img/icon_04.jpg"><span>我的活动</span><a href=""> > </a>
				</li>
				<li>
					<img src="q-img/icon_05.jpg"><span>我的公司</span><a href=""> > </a>
				</li>
				<li>
					<img src="q-img/icon_06.jpg"><span>实名认证</span><a href=""> > </a>
				</li>
			</ul>
			<ul>
				<li>
					<img src="q-img/icon_07.jpg"><span>在线客服</span><a href=""> > </a>
				</li>
				<li>
					<img src="q-img/icon_08.jpg"><span>关于</span><a href=""> > </a>
				</li>
				<li>
					<img src="q-img/icon_09.jpg"><span>设置</span><a href=""> > </a>
				</li>
			</ul>
		</div>








	</div>


	<!--手机底部区域-->
	<div class="sj_foot">
		<p>备案编号：京ICP备11111111号-1　法律顾问：  版权所有：Copyright (c) 2018-2020  All Rights Reserved.</p>
		<p>电子邮箱：  技术支持 <a href=""></a></p>
	</div>
	<!--手机底部区域结束-->

</body>
<!html>