<!--上传图片-->

<script src="/static/plugins/plupload/plupload.full.min.js"></script>
<div class="uploader-box " id="img_url-uploader-box" style="">
	<button type="button" class="btn btn-primary btn-sm" id="img_url-button" data-text="上传文件">上传文件</button>
	<div class="alert alert-danger alert-dismissable" style="display: none;"></div>
	<div class="uploader-list"></div>
</div>


<script >
    var img_url = '';
    {if condition="isset($data['img_url'])"}
    	img_url = '{$data["img_url"]}';
    {/if}
    multifile = typeof(multifile) == 'undefined'?1:multifile;
    maximum = typeof(maximum) == 'undefined'?1:maximum;

$(function(){
	   hhn.upload({ 
		name:'img_url', 
		value:img_url, 
		url:"{:url('attachment/upload')}", 
		multifile:0, 
		maximum:1, 
		maxsize:'2048kb',
		ext_type:'jpg,jpeg,png,gif', 
		ext_field: [],
		show_field_text:1, 
		show_url:0,
		show_size:{"width":"auto","height":"100px"}, 
		multipart_params:[],
		field_name:'img_url'  
		});
})


</script>

